<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="../styles/style.css">
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <!-- BOOTSTRAP ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <!-- Desol Icon -->
    <link rel="shortcut icon" href="../styles/assets/iso.png" type="image/x-icon">
    <title>Desol | WorkSpace | Masivos</title>
</head>

<body>
    <nav class="nav">
        <div class="left">
            <div class="active">Monitor</div>
            <div>WorkSpace</div>
        </div>
        <div class="right">
            <!--  <div>Sonidos <i class="bi bi-bell-slash icon"></i></div> -->
            <!-- <i class="bi bi-bell-fill"></i>  Para cuando este ON  -->
            <!-- <i class="bi bi-cup-hot-fill"></i> Para cuando este ON -->
            <!--  <div>Dark Mode <i class="bi bi-brightness-high icon"></i></div> -->
            <!-- <i class="bi bi-moon-stars"></i> Para cuando esté ON -->
            <div><i class="bi bi-person-fill icon"></i></div>
            <!-- <i class="bi bi-person-circle"></i> Para cuando se esté configurando -->
        </div>
    </nav>
    <main class="main-workspace">
        <div class="sub__menu">
            <a href="#">Filtros</a>
            <a href="#">Masivos</a>
            <a href="#">Alertas</a>
            <a href="#">Wiki</a>
            <a href="#">Planilla</a>
        </div>
    <div class="masive__section">
        <div class="masive__list">

            <div class="masive">
                <p> Caida VDC1 </p>
                <div>
                    <p>Fecha de Inicio: 18/01/2021 10:00 am</p>
                    <p>Fecha de Fin: 18/01/2024 14:22 pm</p>
                </div>
                <div class="buttons">
                   <button> <i class="bi bi-x-circle"></i></button>
                    <button> <i class="bi bi-pencil-square"></i> </button>
                </div>
            </div>

        </div>
        <div class="uptime__results">
    
        </div>    
        
    </div>


    </main>

    <script src="../general/app.js"></script>
</body>

</html>