<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="../styles/style.css">
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <!-- BOOTSTRAP ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <!-- Desol Icon -->
    <link rel="shortcut icon" href="../styles/assets/iso.png" type="image/x-icon">
    <title>Desol | Monitor</title>
</head>

<body>
    <nav class="nav">
        <div class="left">
            <div class="active">Monitor <i class="bi bi-exclamation-circle"></i></div>
            <div>WorkSpace</div>
            <div>Wiki</div>
            <div>Alertas</div>
            <div>Masivos</div>
        </div>
        <div class="right">
            <!--  <div>Sonidos <i class="bi bi-bell-slash icon"></i></div> -->
            <!-- <i class="bi bi-bell-fill"></i>  Para cuando este ON  -->
            <!-- <i class="bi bi-cup-hot-fill"></i> Para cuando este ON -->
            <!--  <div>Dark Mode <i class="bi bi-brightness-high icon"></i></div> -->
            <!-- <i class="bi bi-moon-stars"></i> Para cuando esté ON -->
            <div><i class="bi bi-person-fill icon"></i></div>
            <!-- <i class="bi bi-person-circle"></i> Para cuando se esté configurando -->
        </div>
    </nav>
    <main class="main">
        <div class="top">
            <div>
                <p>Sin Asignar : 2</p>
            </div>
            <div>
                <p>En Tiempo : 5</p>

            </div>
            <div>
                <p>Vencidos / Prioridad : 1</p>
            </div>
        </div>
        <div class="bottom">
            <div>
                <p>Mis Asignados : 1</p>
            </div>
            <div>
                <p>Total sin Masivos : 8</p>
            </div>
            <div>
                <p>Total con Masivos : 10</p>
            </div>
        </div>

        <div class="tickets">

            <div class="newTicket">
                <div>Ticket #45000</div>
                <div>MACROCEL</div>
                <div>Alejandra Marianelli</div>
                <div>Petición usuarios FortiClient</div>
                <div>Sin Asignar</div>
                <!-- Después cambia por quien esté en Mesa. Botón - Por Ejemplo Lilian Taschini -->
                <div>Estado</div> <!-- Nuevos estados quizás relacionados a una prioridad. Discutible -->
                <div> Duplicado <i class="bi bi-infinity"></i> </div>
                <div> Derivar <i class="bi bi-arrow-right-circle"></i> </div>
                <div> Seleccionar <i class="bi bi-pin"></i> </div>
                <div>Copiar</div>
                <!-- Para seleccionado <i class="bi bi-pin-angle-fill"></i> -->
                <div> Ver <i class="bi bi-pen"></i></div>
            </div>


            <aside class="visor" id="miAside" onmousedown="iniciarResizing(event)">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error consectetur, veritatis molestias
                    optio quibusdam, in quod nemo ab dolor quas temporibus dolore. Aliquam suscipit asperiores quasi
                    laboriosam enim. Veniam, culpa?
                    Saepe eius ut hic accusantium voluptas dolor voluptates nulla quia non? Tempora ut illo mollitia
                    unde qui sapiente repellat perferendis, dolore temporibus recusandae, quasi eius iusto blanditiis
                    nemo quas tenetur.
                    Fugit natus cum perspiciatis eaque voluptatem laboriosam animi tenetur, quisquam suscipit
                    reprehenderit nostrum quia blanditiis nisi architecto ad, excepturi quas eum quis! Placeat ex
                    explicabo possimus laborum cum, molestias quibusdam!
                    Eum sunt voluptas incidunt magni veritatis dignissimos eaque vero explicabo voluptatem consectetur
                    provident nulla, in commodi temporibus sequi sapiente amet quisquam officia sint perspiciatis
                    exercitationem. Officiis dolorum quidem libero ratione.
                    Eligendi architecto labore debitis vitae laboriosam et ullam sint numquam sed. Iusto obcaecati
                    praesentium velit aut vero. Pariatur quibusdam doloremque illo quasi cum consectetur nesciunt
                    debitis! Ea veritatis ad vero!
                    Vitae minima facere animi quisquam hic, commodi aliquam ipsam inventore facilis in quod consequatur
                    error rem exercitationem accusamus ipsum repellendus repudiandae est itaque molestias. Quasi saepe
                    aliquid delectus distinctio nesciunt.
                    Tempore voluptatem voluptatibus a quia? Officia ratione consequuntur soluta vero quam eos nostrum,
                    amet cumque maiores libero sed laudantium quae, accusamus itaque voluptatibus. Ullam nisi voluptates
                    distinctio illo perferendis asperiores!
                    Rem quibusdam commodi accusantium dolorem, totam consequuntur nam pariatur dignissimos recusandae ex
                    molestias suscipit dolor eos vero repellendus perferendis odit quas soluta illum veritatis esse quis
                    eveniet consectetur? Dicta, pariatur?
                    Aperiam voluptatibus nulla animi sint non fuga rem, dolor, accusantium nobis nam perferendis
                    aspernatur dignissimos quo accusamus suscipit totam itaque facere possimus illum? Quam sunt sequi
                    quae laboriosam obcaecati totam!
                    Officiis, suscipit sapiente sequi, rem praesentium numquam atque sint modi reiciendis iure,
                    molestiae reprehenderit pariatur autem magni quibusdam repellat porro ullam blanditiis natus
                    nesciunt aperiam adipisci quisquam. Laboriosam, dolores quibusdam.
                    Deserunt ea sit optio laborum facilis culpa, autem vitae minima maxime veniam recusandae
                    consequuntur architecto consectetur provident sed quas dicta consequatur iste et, quibusdam ullam
                    inventore? Aliquid, natus! Modi, esse.
                    Cum, voluptatum illo! Voluptatibus accusamus mollitia eius! Error, porro. Fugiat recusandae officiis
                    vero dolorum labore dicta harum itaque sequi numquam, illum, ipsa sint molestiae fuga quam quos
                    distinctio tenetur a?
                    Veniam eum soluta saepe similique iste sed itaque quas incidunt, porro ex accusamus doloremque sint
                    rem fugiat ipsa atque qui numquam cupiditate deleniti explicabo obcaecati consequuntur possimus.
                    Officiis, possimus dolores.
                    Ullam, iste explicabo nostrum ducimus magnam molestiae optio doloremque debitis mollitia harum nam
                    neque consequuntur repellat eum ratione, commodi in. Et, minima nam? Aliquid eaque explicabo
                    obcaecati, tenetur itaque quos?
                    Soluta commodi aut nemo omnis culpa assumenda optio possimus dignissimos deleniti, aliquid fugit
                    consequatur aspernatur ex cupiditate enim labore ut necessitatibus cum explicabo laudantium corporis
                    ad! Minima, ad? Quis, quod.
                    Natus, repellendus tempore quasi dolore maxime repellat illum molestias quas excepturi ipsum ipsam
                    explicabo obcaecati? Ad placeat voluptatibus voluptates sint officia quaerat quidem sapiente
                    blanditiis nesciunt? Minus odio voluptates consectetur!
                    Inventore ullam reprehenderit, iste quos vitae dignissimos dicta ad quod ut quasi nemo aperiam
                    numquam perspiciatis cupiditate, tempore minus eveniet sunt a? Sequi ratione quasi perferendis,
                    suscipit corporis accusantium. Quia.
                    Sequi rem pariatur dolorum blanditiis ut aspernatur dicta quae vitae temporibus eligendi, sunt error
                    repudiandae molestias, quia rerum. Est et libero ab error! Sequi, accusantium sint? Non tempora
                    error culpa!
                    Reprehenderit est nulla, velit fugit excepturi laboriosam quaerat. Temporibus laborum corrupti
                    voluptatum, sapiente in quas molestiae consectetur adipisci doloremque dolore, nam culpa molestias
                    ullam harum, error mollitia quidem praesentium ab!
                    Voluptatibus inventore, iste asperiores modi doloremque distinctio sit quasi tempora neque
                    repellendus labore praesentium, optio animi autem aliquid reiciendis architecto sapiente eos aperiam
                    veritatis? Voluptate labore consequatur quod maiores necessitatibus!</p>
                </aside>

        </div>

    </main>

    <script src="../general/app.js"></script>
</body>

</html>