<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="../styles/style.css">
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <!-- BOOTSTRAP ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <!-- Desol Icon -->
    <link rel="shortcut icon" href="../styles/assets/iso.png" type="image/x-icon">
    <title>Desol | Monitor</title>
</head>

<body>
    <nav class="nav">
        <div class="left">
            <div class="active">Monitor</div>
            <div>WorkSpace</div>
            <div>Wiki</div>
            <div>Alertas</div>
            <div>Masivos</div>
        </div>
        <div class="right">
            <!--  <div>Sonidos <i class="bi bi-bell-slash icon"></i></div> -->
            <!-- <i class="bi bi-bell-fill"></i>  Para cuando este ON  -->
            <!-- <i class="bi bi-cup-hot-fill"></i> Para cuando este ON -->
            <!--  <div>Dark Mode <i class="bi bi-brightness-high icon"></i></div> -->
            <!-- <i class="bi bi-moon-stars"></i> Para cuando esté ON -->
            <div><i class="bi bi-person-fill icon"></i></div>
            <!-- <i class="bi bi-person-circle"></i> Para cuando se esté configurando -->
        </div>
    </nav>
    <main class="main">
        <div class="monitor__filters">

            <div class="top">
                <div>
                    <p>Sin Asignar : 2</p>
                </div>
                <div>
                    <p>En Tiempo : 5</p>
        
                </div>
                <div>
                    <p>Vencidos / Prioridad : 1</p>
                </div>
            </div>
            <div class="bottom">
                <div>
                    <p>Mis Asignados : 1</p>
                </div>
                <div>
                    <p>Total sin Masivos : 8</p>
                </div>
                <div>
                    <p>Total con Masivos : 10</p>
                </div>
            </div>
        </div>

        <div class="tickets" id="container">

            <div class="resizable" id="left">
                <div class="newTicket">
                    <div class="ticket__title">
                        <p>Ticket #45000</p>
                        <p>MACROCEL</p>
                        <p>Alejandra Marianelli</p>
                        <p>Petición usuarios FortiClient</p>
                        <i class="bi bi-copy"></i>
                    </div>
    
                    <div class="ticket__option">
                        <div>Sin Asignar</div>
                        <!-- Después cambia por quien esté en Mesa. Botón - Por Ejemplo Lilian Taschini -->
                        <div>Estado</div> <!-- Nuevos estados quizás relacionados a una prioridad. Discutible -->
                        <div> Duplicado <i class="bi bi-infinity"></i> </div>
                        <div> Derivar <i class="bi bi-arrow-right-circle"></i> </div>
                        <div> Seleccionar <i class="bi bi-pin"></i> </div>
                        <!-- Para seleccionado <i class="bi bi-pin-angle-fill"></i> -->
                        <div> Ver <i class="bi bi-pen"></i></div>
                    </div>
    
                </div>
                <div class="newTicket">
                    <div class="ticket__title">
                        <p>Ticket #45000</p>
                        <p>MACROCEL</p>
                        <p>Alejandra Marianelli</p>
                        <p>Petición usuarios FortiClient</p>
                        <i class="bi bi-copy"></i>
                    </div>
    
                    <div class="ticket__option">
                        <div>Sin Asignar</div>
                        <!-- Después cambia por quien esté en Mesa. Botón - Por Ejemplo Lilian Taschini -->
                        <div>Estado</div> <!-- Nuevos estados quizás relacionados a una prioridad. Discutible -->
                        <div> Duplicado <i class="bi bi-infinity"></i> </div>
                        <div> Derivar <i class="bi bi-arrow-right-circle"></i> </div>
                        <div> Seleccionar <i class="bi bi-pin"></i> </div>
                        <!-- Para seleccionado <i class="bi bi-pin-angle-fill"></i> -->
                        <div> Ver <i class="bi bi-pen"></i></div>
                    </div>
    
                </div>
                <div class="newTicket">
                    <div class="ticket__title">
                        <p>Ticket #45000</p>
                        <p>MACROCEL</p>
                        <p>Alejandra Marianelli</p>
                        <p>Petición usuarios FortiClient</p>
                        <i class="bi bi-copy"></i>
                    </div>
    
                    <div class="ticket__option">
                        <div>Sin Asignar</div>
                        <!-- Después cambia por quien esté en Mesa. Botón - Por Ejemplo Lilian Taschini -->
                        <div>Estado</div> <!-- Nuevos estados quizás relacionados a una prioridad. Discutible -->
                        <div> Duplicado <i class="bi bi-infinity"></i> </div>
                        <div> Derivar <i class="bi bi-arrow-right-circle"></i> </div>
                        <div> Seleccionar <i class="bi bi-pin"></i> </div>
                        <!-- Para seleccionado <i class="bi bi-pin-angle-fill"></i> -->
                        <div> Ver <i class="bi bi-pen"></i></div>
                    </div>
    
                </div>
            </div>

            
            <div class="resizable" id="right">
                <button class="toggle__resize" id="handle"></button>
                <div class="content__monitor">
                    <div class="ticket">
                        <p class="title">TICKET #45000</p>
                        <p class="subject">Problema con Login Hermes</p>
                        <p class="client">SMSV</p>
                        <i class="bi bi-copy"></i>
                    </div>
                    <div class="associates">
                        <div class="associate">
                            <p>Asociados:</p>
                            <p>Marisel Campos</p>
                            <p>Alejandra Vainila</p>
                        </div>
                    </div>
                    <div class="notebook">
                        <p class="description">Descripción:</p>
                        <p>Estimados, intentamos ingresar a la plataforma, pero no funciona, dando la siguiente inscripción: No
                            conecta la estación del agente. Adjunto capturas, cualquier consulta comunicarse al 5454135434134.
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus perferendis quis, ipsa inventore quae earum consequuntur iste, illum non ex iure deleniti corrupti dolor, expedita fugiat. Magnam neque a unde.
                            Blanditiis consequuntur, eos cum quos sed quia adipisci, quam laudantium vero incidunt sunt, molestias quasi tempore. Quisquam, dolorem aspernatur. Et, officiis provident voluptas mollitia a maxime porro repellat error totam.
                            Accusantium inventore illum iste? Quod dolorem provident eos tenetur, nemo, eaque sunt debitis numquam recusandae dicta veritatis, obcaecati aspernatur nisi dolor officiis. Ullam nam est natus praesentium facere. Dolorem, laborum.
                            Deleniti accusamus culpa doloribus laboriosam fugit libero delectus, non in animi voluptates blanditiis provident dignissimos, perspiciatis quaerat nam placeat beatae qui. Expedita perspiciatis est quasi dolorum eligendi dolor, quis doloremque.
                            Debitis dolorum corrupti iste repudiandae voluptate nostrum blanditiis doloremque, voluptatibus reiciendis, aliquam consequatur fugiat. Cupiditate, saepe corrupti? Eveniet, esse. Doloribus vel placeat dolorem. Pariatur quo nobis quibusdam facere maxime velit?
                        </p>
                    </div>
                    <div class="responsibles">
                        <div class="responsible">
                            <p>Responsable: </p>
                            <p>Lilian Taschini</p>
                        </div>
                        <div class="collaborators">
                            <p>Coolaboradores:</p>
                            <p>Abril Coloa</p>
                            <p>Enzo Princippe</p>
                        </div>
                    </div>
                    <div class="files">
                        <!--  <div>Este ticket no tiene archivos adjuntos</div> -->
                        <div><i class="bi bi-paperclip"></i></div>
                        <div>Archivos: image.jpg</div>
                    </div>
                </div>
            </div>

        </div>

    </main>

    <script src="../general/app.js"></script>
</body>

</html>