<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="../styles/style.css">
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <!-- BOOTSTRAP ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <!-- Desol Icon -->
    <link rel="shortcut icon" href="../styles/assets/iso.png" type="image/x-icon">
    <title>Desol | Monitor</title>
</head>

<body>
    <nav class="nav">
        <div class="left">
            <div class="active">Monitor <i class="bi bi-exclamation-circle"></i></div>
            <div>WorkSpace</div>
            <div>Wiki</div>
            <div>Alertas</div>
            <div>Masivos</div>
        </div>
        <div class="right">
            <!--  <div>Sonidos <i class="bi bi-bell-slash icon"></i></div> -->
            <!-- <i class="bi bi-bell-fill"></i>  Para cuando este ON  -->
            <!-- <i class="bi bi-cup-hot-fill"></i> Para cuando este ON -->
            <!--  <div>Dark Mode <i class="bi bi-brightness-high icon"></i></div> -->
            <!-- <i class="bi bi-moon-stars"></i> Para cuando esté ON -->
            <div><i class="bi bi-person-fill icon"></i></div>
            <!-- <i class="bi bi-person-circle"></i> Para cuando se esté configurando -->
        </div>
    </nav>
    <main class="main">
        <div class="top">
            <div>
                <p>Sin Asignar : 2</p>
            </div>
            <div>
                <p>En Tiempo : 5</p>

            </div>
            <div>
                <p>Vencidos / Prioridad : 1</p>
            </div>
        </div>
        <div class="bottom">
            <div>
                <p>Mis Asignados : 1</p>
            </div>
            <div>
                <p>Total sin Masivos : 8</p>
            </div>
            <div>
                <p>Total con Masivos : 10</p>
            </div>
        </div>

        <div class="tickets" id="container">

            <div class="resizable" id="left">
                <div>
                    <div>Ticket #45000</div>
                    <div>MACROCEL</div>
                    <div>Alejandra Marianelli</div>
                    <div>Petición usuarios FortiClient</div>
                    <div>Sin Asignar</div>
                    <!-- Después cambia por quien esté en Mesa. Botón - Por Ejemplo Lilian Taschini -->
                    <div>Estado</div> <!-- Nuevos estados quizás relacionados a una prioridad. Discutible -->
                    <div> Duplicado <i class="bi bi-infinity"></i> </div>
                    <div> Derivar <i class="bi bi-arrow-right-circle"></i> </div>
                    <div> Seleccionar <i class="bi bi-pin"></i> </div>
                    <div>Copiar</div>
                    <!-- Para seleccionado <i class="bi bi-pin-angle-fill"></i> -->
                    <div> Ver <i class="bi bi-pen"></i></div>
                </div>
            </div>

            
            <div class="resizable" id="right">
                <button class="toggle__resize" id="handle"></button>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error consectetur, veritatis molestias
                    optio quibusdam, in quod nemo ab dolor quas temporibus dolore. Aliquam suscipit asperiores quasi
                    laboriosam enim. Veniam, culpa?
                    Saepe eius ut hic accusantium voluptas dolor voluptates nulla quia non? Tempora ut illo mollitia
                    unde qui sapiente repellat perferendis, dolore temporibus recusandae, quasi eius iusto blanditiis
                    nemo quas tenetur.
                </p>
            </div>

        </div>

    </main>

    <script src="../general/app.js"></script>
</body>

</html>