<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="../styles/style.css">
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <!-- BOOTSTRAP ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <!-- Desol Icon -->
    <link rel="shortcut icon" href="../styles/assets/iso.png" type="image/x-icon">
    <title>Desol | Recover password</title>
</head>

<body class="auth">
    <main class="mainAuth">
        <img class='desolIcon' src="../styles/assets/desol.png" alt="">
        <form class="recoverForm">
            <label for="">Encuentra tu cuenta:</label>
            <p>Ingrese su dirección de correo electrónico para buscar su cuenta.</p>
            <input type="email" placeholder="Dirección de correo electrónico:">
            <div class="recoverButtons">
                <a class="cancel" href="./autenticacion.html">Cancelar</a>
                <button class="search"> Buscar </button>
            </div>
        </form>
    </main>
</body>

</html>