<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="../styles/style.css">
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <!-- BOOTSTRAP ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <!-- Desol Icon -->
    <link rel="shortcut icon" href="../styles/assets/iso.png" type="image/x-icon">
    <title>Desol | New account</title>
</head>

<body class="auth">
    <main class="mainRequest">
        <img src="../styles/assets/solodesol.png" alt="">
        <form class="requestForm">
            <label for="">Crea una cuenta nueva:</label>
            <p>Es rápido y fácil.</p>
            <input type="text" placeholder="Nombre:">
            <input type="text" placeholder="Apellido:">
            <input type="email" placeholder="Dirección de correo electrónico:">
            <input type="password" placeholder="Contraseña:">
            <input type="number" placeholder="Número telefónico con característica:">
            <div class="recoverButtons">
                <a class="account" href="./autenticacion.html">¿Ya tienes cuenta?</a>
                <button class="create"> Inscribirse </button>
            </div>

            <!-- 
                Su petición estará siendo evaluada y se le notificará por los medios de contacto cuando cuente con sus credenciales activas. Le deseamos buen día.
             -->

        </form>
    </main>
</body>

</html>