<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="../styles/style.css">
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <!-- BOOTSTRAP ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <!-- Desol Icon -->
    <link rel="shortcut icon" href="../styles/assets/iso.png" type="image/x-icon">
    <title>Ticket-Cliente</title>
</head>

<body>
    <nav class="nav">
        <div class="left">
            <div class="active">Monitor</div>
        </div>
        <div class="right">
            <div><i class="bi bi-person-fill icon"></i></div>
        </div>
    </nav>
    <main class="main-ticket">

        <div class="content">
            <div class="ticket">
                <p class="title">TICKET #45000</p>
                <p class="subject">Problema con Login Hermes</p>
                <p class="client">SMSV</p>
                <i class="bi bi-copy"></i>
            </div>
            <div class="associates">
                <div class="associate">
                    <p>Asociados:</p>
                    <p>Marisel Campos</p>
                    <p>Alejandra Vainila</p>
                </div>
            </div>
            <div class="notebook">
                <p class="description">Descripción:</p>
                <p>Estimados, intentamos ingresar a la plataforma, pero no funciona, dando la siguiente inscripción: No
                    conecta la estación del agente. Adjunto capturas, cualquier consulta comunicarse al 5454135434134
                </p>
            </div>
            <div class="responsibles">
                <div class="responsible">
                    <p>Responsable: </p>
                    <p>Lilian Taschini</p>
                </div>
                <div class="collaborators">
                    <p>Coolaboradores:</p>
                    <p>Abril Coloa</p>
                    <p>Enzo Princippe</p>
                </div>
            </div>
            <div class="files">
                <!--  <div>Este ticket no tiene archivos adjuntos</div> -->
                <div><i class="bi bi-paperclip"></i></div>
                <div>Archivos: image.jpg</div>
            </div>
        </div>

        <div class="notes">
            <div> Comentarios: </div>
            <div class="note">
                <div class="nameOperator">
                    <!-- o nameClient dependiendo de quien escriba -->
                    <div class="name">Lilian Taschini</div>
                    <div class="dateNow" title="07:56">2023/12/26</div>
                </div>
                <div class="descriptionNote">
                    <div>Buenos días, ya nos encontramos revisando el caso. Apenas tengamos información al respecto lo
                        estaremos comunicando por este medio.- </div>
                </div>
            </div>

            <div class="note">
                <div class="nameOperator">
                    <!-- o nameClient dependiendo de quien escriba -->
                    <div class="name">Lilian Taschini</div>
                    <div class="dateNow" title="07:56">2023/12/26</div>
                </div>
                <div class="descriptionNote">
                    <div>Buenos días, ya nos encontramos revisando el caso. Apenas tengamos información al respecto lo
                        estaremos comunicando por este medio.- </div>
                </div>
            </div>

            <div class="note">
                <div class="nameOperator">
                    <!-- o nameClient dependiendo de quien escriba -->
                    <div class="name">Lilian Taschini</div>
                    <div class="dateNow" title="07:56">2023/12/26</div>
                </div>
                <div class="descriptionNote">
                    <div>Buenos días, ya nos encontramos revisando el caso. Apenas tengamos información al respecto lo
                        estaremos comunicando por este medio.- </div>
                </div>
            </div>

            <div class="note">
                <div class="nameOperator">
                    <!-- o nameClient dependiendo de quien escriba -->
                    <div class="name">Lilian Taschini</div>
                    <div class="dateNow" title="07:56">2023/12/26</div>
                </div>
                <div class="descriptionNote">
                    <div>Buenos días, ya nos encontramos revisando el caso. Apenas tengamos información al respecto lo
                        estaremos comunicando por este medio.- </div>
                </div>
            </div>

            <div class="note">
                <div class="nameOperator">
                    <!-- o nameClient dependiendo de quien escriba -->
                    <div class="name">Lilian Taschini</div>
                    <div class="dateNow" title="07:56">2023/12/26</div>
                </div>
                <div class="descriptionNote">
                    <div>Buenos días, ya nos encontramos revisando el caso. Apenas tengamos información al respecto lo
                        estaremos comunicando por este medio.- </div>
                </div>
            </div>


            <div class="note">
                <div class="nameOperator">
                    <!-- o nameClient dependiendo de quien escriba -->
                    <div class="name">Lilian Taschini</div>
                    <div class="dateNow" title="07:56">2023/12/26</div>
                </div>
                <div class="descriptionNote">
                    <div>Buenos días, ya nos encontramos revisando el caso. Apenas tengamos información al respecto lo
                        estaremos comunicando por este medio.- </div>
                </div>
            </div>


            <div class="note">
                <div class="nameOperator">
                    <!-- o nameClient dependiendo de quien escriba -->
                    <div class="name">Lilian Taschini</div>
                    <div class="dateNow" title="07:56">2023/12/26</div>
                </div>
                <div class="descriptionNote">
                    <div>Buenos días, ya nos encontramos revisando el caso. Apenas tengamos información al respecto lo
                        estaremos comunicando por este medio.- </div>
                </div>
            </div>


            <div class="note">
                <div class="nameOperator">
                    <!-- o nameClient dependiendo de quien escriba -->
                    <div class="name">Lilian Taschini</div>
                    <div class="dateNow" title="07:56">2023/12/26</div>
                </div>
                <div class="descriptionNote">
                    <div>Buenos días, ya nos encontramos revisando el caso. Apenas tengamos información al respecto lo
                        estaremos comunicando por este medio.- </div>
                </div>
            </div>

            <div class="note">
                <div class="navClient">
                    <div class="name">Marisel Campos</div>
                    <div title="Adjuntar archivo"> <i class="bi bi-paperclip"></i></div>
                </div>
            
                <div class="inputsNote" id="inputsNote">
                    <label for="">Escriba su nota:</label>
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                </div>
                <div class="buttons">
                    <button class="sendNote">ENVIAR
                </div>
            </div>

            
        </div>
        
       

    </main>



    <script src="app.js"></script>
</body>

</html>