<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="../styles/style.css">
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <!-- BOOTSTRAP ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <!-- Desol Icon -->
    <link rel="shortcut icon" href="../styles/assets/iso.png" type="image/x-icon">
    <title>Ticket-Cliente</title>
</head>

<body>
    <nav class="nav">
        <div class="left">
            <div class="active">Monitor</div>
        </div>
        <div class="right">
            <div><i class="bi bi-person-fill icon"></i></div>
        </div>
    </nav>
    <main class="main-ticket">

        <div class="content">
            <div class="ticket">
                <p class="title">TICKET #45000</p>
                <p class="subject">Problema con Login Hermes</p>
                <p class="client">SMSV</p>
                <i class="bi bi-copy"></i>
            </div>
            <div class="associates">
                <div class="associate">
                    <p>Asociados:</p>
                    <p>Marisel Campos</p>
                    <p>Alejandra Vainila</p>
                </div>
            </div>
            <div class="notebook">
                <p class="description">Descripción:</p>
                <p>Estimados, intentamos ingresar a la plataforma, pero no funciona, dando la siguiente inscripción: No
                    conecta la estación del agente. Adjunto capturas, cualquier consulta comunicarse al 5454135434134.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus perferendis quis, ipsa inventore quae earum consequuntur iste, illum non ex iure deleniti corrupti dolor, expedita fugiat. Magnam neque a unde.
                    Blanditiis consequuntur, eos cum quos sed quia adipisci, quam laudantium vero incidunt sunt, molestias quasi tempore. Quisquam, dolorem aspernatur. Et, officiis provident voluptas mollitia a maxime porro repellat error totam.
                    Accusantium inventore illum iste? Quod dolorem provident eos tenetur, nemo, eaque sunt debitis numquam recusandae dicta veritatis, obcaecati aspernatur nisi dolor officiis. Ullam nam est natus praesentium facere. Dolorem, laborum.
                    Deleniti accusamus culpa doloribus laboriosam fugit libero delectus, non in animi voluptates blanditiis provident dignissimos, perspiciatis quaerat nam placeat beatae qui. Expedita perspiciatis est quasi dolorum eligendi dolor, quis doloremque.
                    Debitis dolorum corrupti iste repudiandae voluptate nostrum blanditiis doloremque, voluptatibus reiciendis, aliquam consequatur fugiat. Cupiditate, saepe corrupti? Eveniet, esse. Doloribus vel placeat dolorem. Pariatur quo nobis quibusdam facere maxime velit?
                </p>
            </div>
            <div class="responsibles">
                <div class="responsible">
                    <p>Responsable: </p>
                    <p>Lilian Taschini</p>
                </div>
                <div class="collaborators">
                    <p>Coolaboradores:</p>
                    <p>Abril Coloa</p>
                    <p>Enzo Princippe</p>
                </div>
            </div>
            <div class="files">
                <!--  <div>Este ticket no tiene archivos adjuntos</div> -->
                <div><i class="bi bi-paperclip"></i></div>
                <div>Archivos: image.jpg</div>
            </div>
        </div>

        <div class="notes">
            <div> Comentarios: </div>
            <div class="contentNotes">
                <div class="note noteOperator">
                    <div class="navOperator">
                        <!-- o nameClient dependiendo de quien escriba -->
                        <div class="name">Lilian Taschini</div>
                        <div class="dateNow" title="07:56">2023/12/26</div>
                    </div>
                    <div class="descriptionNote">
                        <div>Buenos días, ya nos encontramos revisando el caso. Apenas tengamos información al respecto lo
                            estaremos comunicando por este medio.- </div>
                    </div>
                </div>
    
                <div class="note noteClient">
                    <div class="navClient">
                        <div class="name">Maricel Campos</div>
                        <div class="dateNow" title="07:57">2023/12/26</div>
                    </div>
                    <div class="descriptionNote">
                        <div>Buenos días Lilian, aguardamos su respuesta. Por favor, les solicitamos celeridad </div>
                    </div>
                </div>
    
                <div class="note noteOperator">
                    <div class="navOperator">
                        <!-- o nameClient dependiendo de quien escriba -->
                        <div class="name">Lilian Taschini</div>
                        <div class="dateNow" title="08:20">2023/12/26</div>
                    </div>
                    <div class="descriptionNote">
                        <div>Ya sabemos de que se trata. Te llamo en un momento </div>
                    </div>
                </div>

                <div class="note noteClient">
                    <div class="navClient">
                        <div class="name">Maricel Campos</div>
                        <div class="dateNow" title="09:57">2023/12/26</div>
                    </div>
                    <div class="descriptionNote">
                        <div>Perfecto Lilian, Espero tu llamado </div>
                    </div>
                </div>
    
            </div>

            <div class="note noteInput">
                <div class="navInput">
                    <div class="name">Marisel Campos</div>
                    <div title="Adjuntar archivo"> <i class="bi bi-paperclip"></i></div>
                </div>
                <div class="inputsNote" id="inputsNote">
                    <label for="">Escriba su nota:</label>
                    <div class="sendMessage">
                        <textarea name="" id="" cols="30" rows="10"></textarea>
                        <button> <i class="bi bi-send-fill"></i> </button>
                    </div>
                </div>
               
            </div>

            
        </div>
        
       

    </main>

    <div class="toTheTop" title="Arriba" id="scrollTopButton" onclick="scrollToTop()"> <i class="bi bi-arrow-bar-up"></i>  </div>

    <script src="./app.js"></script>
</body>

</html>